[Unit]
Description = Goeverywhere backend
[Service]
# https://serverfault.com/a/1110783/163080
Restart=on-failure
RestartSec=10

EnvironmentFile=-/etc/default/goe
PrivateTmp=false
ExecStart=/usr/local/bin/goe
User=goe
Group=goe
SyslogIdentifier=goe
[Install]
WantedBy=default.target
